  /* ------------------------------------------------------ЗАДАНИЕ №3 -------------------------------------------------- */

 #gallery {
      display: flex;
      list-style: none;
  }

  #gallery img {
      width: 100%;
      height: 100%;
      padding: 10px;
  }

/* ---------------------------------------------------------ЗАДАНИЕ №4--------------------------------------------------- */

#value