  /* ------------------------------------------------------ЗАДАНИЕ №3 -------------------------------------------------- */

 #gallery {
      display: flex;
      list-style: none;
  }

  #gallery img {
      width: 100%;
      height: 100%;
      padding: 10px;
  }

/* ---------------------------------------------------------ЗАДАНИЕ №6--------------------------------------------------- */

#validation-input {
    border: 2px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

/* ----------------------------------------------------------ЗАДАНИЕ №7---------------------------------------------------- */
#font-size-control {
    margin-top: 15px;
}

#controls {
    margin-top: 15px;
}

#boxes {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
}